---
import { SITE } from "@/config";
import type { Lang } from "@/utils/i18n";

const { lang } = Astro.props;
---

<footer class="mt-14 flex flex-col items-center gap-2 w-full">
  <p class="text-lg">
    {SITE.title[lang as Lang]}
  </p>
  <p class="text-sm">
    Powered by 🚀
    <a
      href="https://astro.build/"
      target="_blank"
      rel="nofollow"
      class="ghost-link">Astro</a
    >
    {" & ❤️"}
    <a
      href="https://github.com/BlockLune/astro-dracula-blog/"
      target="_blank"
      rel="nofollow"
      class="ghost-link">AstroDraculaBlog</a
    >
  </p>
</footer>
